@model IEnumerable<app01.Models.Seller> 
@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn  btn-success">Create New</a>
</p>
<table class="table table-striped table-hover" >
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrithDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Item.BrithDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Item.BaseSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@Item.Id">Details</a>
                <a asp-action="Details" asp-route-id="@Item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>


